// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$my_red: #B21E4B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$my_yellow: #FCE38A;
$my_blue: #2994B2;
